.vscode
ckpt/*
assets/*masks
assets/*gif
*.pyc
debug
cym_utils
assets/checkpoints/*
*.egg-info
*build
src/pmp/checkpoints/*


src/PCMeshPredict/checkpoints/*
src/test_output/*
resources/checkpoints/*.pth
resources/checkpoints/*.pt

*.log
dist
