[settings]
known_third_party =PIL,catkin_pkg,cv2,cv_bridge,diffusers,einops,geometry_msgs,image_geometry,jaxtyping,matplotlib,mesh_predict,nksr,numpy,omegaconf,open3d,perception_msgs,pointnet2_ops,rospy,sam_tracking,scipy,sensor_msgs,setuptools,std_msgs,tf,torch,torchvision,transformers,trimesh,typeguard,visualization_msgs,yaml
