.vscode
ckpt/*.ckpt
ckpt/*.pth
ckpt/*.pt
assets/*masks
assets/*gif
*.pyc
debug
cym_utils
/sam/ast_master
/tracking_results
/aot/results
/aot/pretrain_models
/aot/datasets
/ast_master
/Pytorch-Correlation-extension
/tutorial
/utils/tracking_results/*
assets/checkpoints/*
*.egg-info
*build
*.info
*dist
*__pycache__
*.bag
