[settings]
known_third_party = PIL,aot,catkin_pkg,cutie,cv2,cv_bridge,distutils,geometry_msgs,hydra,image_geometry,matplotlib,message_filters,nav_msgs,numpy,omegaconf,open3d,pycocotools,rospy,sam2,sam_tk,sam_tracking,scipy,segment_anything,sensor_msgs,setuptools,skimage,sklearn,std_msgs,tf,tf2_ros,torch,torchvision,tqdm,utils
